.intro {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.intro-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('../img/girlinbar.jpg');
  background-size: cover;
}
.medium {
  background-image: url('../img/girlinstreet.jpg');
  background-size: cover;
  overflow: hidden;
}
.name {
  position: fixed;
  top: 300px;
  left: 50%;
  color: white;
}