body {
  background: #111;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.intro-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../img/girlinbar.jpg');
  /*background-size: cover;*/
}
.name {
  position: fixed;
  top: 48%;
  left: 20%;
  color: white;
}


.medium {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.medium-background {
  position: fixed;
  width: 100%;
  height: 120%;
  top: -5%;
  background-image: url('../img/peoplereading.jpg');
  background-size: cover;
}
.other-name {
  position: fixed;
  top: 63%;
  left: 13%;
  color: white;
  max-width: 300px;
}
.phone {
  position: fixed;
  left: 120%;
  top: 5%;
  width: 385px;
  height: 798px;
  background-image: url(../img/phone.png);
  background-size: cover;
  z-index: 3;
}
.phone-2 {
  top: 11%;
  width: 346px;
  height: 718px;
  z-index: 2;
}
.phone-3 {
  top: 17%;
  width: 308px;
  height: 638px;
  z-index: 1;
}
