/* Structure & Background
----------------------------- */
.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0b0b0b;
  background-image: url(highlight.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-family: "brandon-grotesque", Helvetica, sans-serif;
  background-image: url(bg.jpg);
  background-size: cover;
}
.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.window-border {
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 2px solid rgba(255,255,255,.4);
}
.window-border:after {
  content: '';
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 1px solid rgba(255,255,255,.4);
}
.wrapper-inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  margin-top: 1%;
  max-width: 75%;
}
.triangle-pattern {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('triangles.png');
  background-size: cover;
  background-position: center;
  opacity: .05;
}

/* Type
----------------------------- */
.name {
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0.35em;
  font-weight: 900;
  margin-bottom: 0;
}
.byline {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.25em;
  margin-bottom: 20px;
  margin-top: 8px;
  color: #e1dcd0;
}

/* Social Links
----------------------------- */
.social-links {
  position: fixed;
  width: 70%;
  left: 15%;
  bottom: 50px;
  padding: 0;
  list-style-type: none;
}
.social-links > li {
  display: inline-block;
}
.social-link-item {
  display: inline-block;
  background-image: url(icons-sprite.png);
  height: 20px;
  background-size: 87px 20px;
  text-indent: -9999px;
  margin-left: 30px;
  opacity: .6;
  -webkit-transition: opacity .1s ease-in;
}
.social-link-item:hover,
.social-link-item:focus {
  opacity: 1;
  outline: none;
}
.social-link-item-dribbble {
  margin-left: 0;
  width: 20px;
}
.social-link-item-twitter {
  background-position: -20px 0;
  width: 24px;
}
.social-link-item-medium {
  background-position: -45px 0;
  width: 20px;
}
.social-link-item-email {
  background-position: -65px 0;
  width: 22px;
}

@media (max-width: 800px) {
  .name {
    font-size: 35px;
    letter-spacing: 0.3em;
  }
  .byline {
    font-size: 11px;
  }
}
@media (max-width: 400px) {
  .name {
    font-size: 26px;
    line-height: 1.05;
  }
  .byline {
    font-size: 11px;
  }
  .social-link-item {
    margin-left: 20px;
  }