<footer class="footer">
  <div class="back-to-top">
    <a href="">Back to top</a>
  </div>
  <div class="footer-nav">
    {% if page.previous.url %} 
      <a href="{{ page.previous.url }} ">Previous</a> 
    {% endif %}
    {% if page.previous.url and page.next.url %} 
     / 
    {% endif %}
    {% if page.next.url %} 
      <a href="{{ page.next.url }} ">Next</a> 
    {% endif %}
    &nbsp;
  </div>
  <aside class="offsite-links">
    <a class="twitter-link" href="http://www.twitter.com/dhg">Twitter</a> /
    <a class="dribbble-link" href="http://dribbble.com/dhg">Dribbble</a> /
    <a class="rss-link" href="/feed">RSS</a>
  </aside>
</footer>