<head>
  <meta charset="utf-8">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Dave Gamache: Designer &amp; Developer.</title>
  <meta name="description" content="Dave Gamache: Designer and Developer at Twitter in San Francisco">
  <meta name="author" content="Dave Gamache, @dhg">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for davegamache.com" href="/feed" />
  <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.png">
  <link rel="stylesheet" href="/public/css/main.css" />
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/public/js/fittext.js"></script>
  <script src="/public/js/app.js"></script>
  <script src="http://use.typekit.com/cjx7kil.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="/public/js/respond.min.js"></script>
</head>