
/* Structure --------------------------- */
html
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 65%;
  margin: 10em auto 4em;
  font-family: 'freight-text-pro', georgia, serif;
  line-height: 1.4;
  font-size: 20px;
  overflow: hidden;
  color: #111;
  font-weight: 200;
}
a {
  color: #209abd;
}

.contact {
  margin-bottom: .8em;
}
.contact-list {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}
.contact-item {
  margin-top: 5px;
}


/* Section --------------------------- */
.section {
  overflow: hidden;
  margin-bottom: 3em;
}
.section-meta {
  border-top: 4px solid #111;
  width: 25%;
  float: left;
}
.section-name {
  margin-top: 10px;
}
.section-content {
  width: 60%;
  float: left;
  margin-left: 15%;
}
.job {
  position: relative;
  top: -5px;
  margin-bottom: 3em;
}

/* Content --------------------------- */
.duration {
  color: #aaa;
  font-size: 16px;
}
.company,
.name {
  font-size: 40px;
  font-weight: bold;
  margin: .1em 0 .1em;
  line-height: 1.1;
}
.name {
  margin-top: 0;
}
.position {
  font-style: italic;
}
.summary {
  margin: .1em 0;
  font-weight: 200;
}


@media all and (max-width: 700px) {
  .container {
    width: 80%;
    font-size: 18px;
  }
  .section-meta {
    border-top-width: 2px;
    width: 100%;
    float: none;
    margin-bottom: 2em;
  }
  .section-content {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .company,
  .name {
    font-size: 30px;
  }
}

@media print {
  a {
    color: #111;
    text-decoration: none;
  }
}
