<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include nav.html %}
      <article class="art {% unless page.header-image %}simple{% endunless %}">
        <header class="art-header {% if page.header-image %} white" style="background-image: url(/public/img/articles/{{ page.header-image }}) {% endif %}"> <!-- white -->
          <div class="art-header-inner">
            <time class="art-time">{{ page.date | date: "%B %d, %Y" }}</time>
            <h2 class="art-title">{{ page.title }}</h2>
            <p class="art-subtitle">{{ page.subtitle }}</p>
          </div>
        </header>
        <div class="art-body">
          <div class="art-body-inner">
            {{ content }}
          </div>
        </div>
      </article>
      {% include footer.html %}
    </div>
  </body>
</html>